<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link rel="stylesheet" href="/css/list.css">
        <meta charset="UTF-8">
        <title>게시판</title>
    </head>
    <body>
        <h1 th:text="#{게시글_목록}"></h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>내용</th>
            </tr>
            <div>
                <a th:href="@{/board/write}">글쓰기</a>
            </div>
            </thead>
            <tbody>
            <tr th:each="board : ${board}">
                <td th:text="${board.id}"></td> <!-- ID -->
                <td>
                    <a th:href="@{/board/board/{id}(id=${board.id})}" th:text="${board.title}"></a> <!-- 제목 -->
                </td>
                <td th:text="${board.content}"></td> <!-- 내용 -->
            </tr>
            </tbody>
        </table>
    </body>
</html>